<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add todo</title>
  </head>
  <body>
    <header>
      todos

      <nav>
        <ul>
          <li>
            <a href="/todos"> add</a>
          </li>
          <li>
            <a href="/todos/add"> add</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/todos/add" method="post">
        <input name="title" />
        <button type="submit">addd</button>
      </form>
    </main>
  </body>
</html>
