<%- include("includes/topPart" , { pageTitle }) %>
  <%- include("includes/navigation") %>

    <div class="container">
      <div>

        <%= product.title %>
      </div>
    </div>

    <%- include("includes/bottomPart") %>