</head>

<body>
  <header>
    <div class="container">
      <a href="/" class="logo">MyShop</a>
      <div class="header-right">
        <nav>
          <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/products"> Products </a></li>
            <li><a href="/products/add-product"> Add Product </a></li>
            <li><a href="/about.html"> About </a></li>
          </ul>
        </nav>
        <div class="cart-icon">
          🛒 <span class="cart-count">0</span>
        </div>
      </div>
    </div>
  </header>